<h1>{{ product.properties.name }}</h1>
<img class="img" src="{{ "./assets/pics/%s"|format(product.properties.image) }}" width="300" height="300"/>
<p>{{ product.properties.description }}</p>
<p>{{ product.properties.price }}</p>
